# Исключение скомпилированных файлов
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

# Исключение файлов конфигурации или секретных данных
config.yaml
secrets.json

# Папка с зависимостями
/vendor/

# Исключение временных файлов
*.log
*.tmp
*.swp

# Игнорирование исполняемых файлов
bin/
