# Исключение скомпилированных файлов
build
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

# Папка с зависимостями
/vendor/

# Исключение временных файлов
*.log
*.tmp
*.swp

# Игнорирование исполняемых файлов
bin/
